# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
04-dashboard-page-4.html
10-players-list-page-10.html
jomg-frontend.code-workspace
01-my-tournaments-page-1.html
02-create-tournament-page-2.html
08-court-setup-page-8.html
PHASE 1 DEMO (1).html
.cursor
FINAL Admin-journey-v60.html
jomg-backend.code-workspace
